/*Index-style*/
* {
    margin: 0;
    padding: 0;
    background-color: black;
}

#page-flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    align-items: center
}
header>img{
    margin: 10px;
    padding: 10px;
    height: 90px;
    width: 90px;
}
h1{
    color: white;
}
p{
    color: white;
}
nav {
    width: 300px;
    color: white;
}
#about{
    align-items: right;
}
/*Project-style*/

/*Reach-me-style*/
.reach-me{
    background-color: black;
    display: flex;
    flex-direction: column;
    
}
.reach-me>h2{
    color: white;
    
   
}
.form-contact{
    color: white;
    
}
