*{
    margin: 0;
    padding: 0;
}

header{
    background-color: orangered;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

h1{
    margin-left: 10px;
}

#txtBusca{
    margin-right: 15px;
}

.card-videos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 300px;
    max-height: 400px;
    height: 200px;
    width: 260px;
    text-align:center;
    box-shadow: 2px 2px 5px darkgray;
}
.card-videos>a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 300px;
    max-height: 400px;
    height: 200px;
    width: 260px;
    text-align:center;
    box-shadow: 2px 2px 5px darkgray;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    margin: 20px;
}

footer{
    background-color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    height: 80px;
    text-align:left;
}

/*pagina-dos-videos*/

video{
    height: 400px;
    width: 1000px;
    display: flex;
    border-left: 50px;
}

.main-video{
    display: flex;
    align-items: center;
    justify-content: center;
}